__pycache__/
env/
*.txt
*.log
docs/
*.pyc
read_json.py
models/__pycache__/
schemas/__pycache__/
routers/__pycache__/
clase_alchemy.py
alembic.ini
alembic/
seed.py
test_hash.py
create_admin.py
relationship1.py
routers/static/
main_web.py
test_hash.py
web_app.py
web_auth.py

